{% extends 'base.html.twig' %}

{% block title %}Article {{article.title}}{% endblock %}

{% block body %}
<style>
</style>

<div class="article-item">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content}}</p>
</div>
{% endblock %}